html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.content {
  display: flex;
  flex: 1;
  /* height: calc(100vh - 56px); */
  min-height: 0;
}
