.service-page1{
    height: 100%;
    overflow: auto;
}

.service-page {
    line-height: 1.6;
    background: #F0F8F8;
    color: #333;
    
}


.hc-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #fff;
    color: #053B40;
    position: sticky;
    top:0;
    z-index: 1000;
}

.hc-navbar .logo1 {
    font-size: 22px;
    font-weight: bold;
}

.hc-navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hc-navbar .nav-links li a {
    text-decoration: none;
    color:#053B40;;
    font-weight: 500;
    transition: color 0.3s ease;
}

.hc-navbar .nav-links li a:hover,
.hc-navbar .nav-links li a.active {
    color: #022023;
}


.hc-services-hero {
    text-align: center;
    padding: 60px 20px;
     background: #E3E9E9;
    color: #053B40;
}

.hc-services-hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hc-services-hero p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
}

.hc-services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 50px;
}

.service-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-8px);
}

.service-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.service-card h2 {
    font-size: 22px;
    margin: 15px 0;
    color: #053B40;
}

.service-card p {
    font-size: 15px;
    padding: 0 15px 20px;
    color: #555;
}

.hcs-footer {
    background: #053B40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 135px;
}