.history-main-container {
    background: #F0F8F8;
    color: black;
    font-family: monospace;
    padding: 4rem 8rem;
    height: 100vh;
    flex: 1;
    overflow-y: auto;
}
   .doctor-container1 {
       max-width: 900px;
       margin: 20px auto;
       padding: 20px;
       background: #fff;
       border-radius: 12px;
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
       font-family: Arial, sans-serif;
       color: #333;
   }

   .doctor-title1 {
       text-align: center;
       font-size: 1.8rem;
       margin-bottom: 10px;
       color: #086972;
   }

   .doctor-section1 {
       margin: 20px 0;
       color: #086972;
   }

   .doctor-grid1 {
       display: grid;
       grid-template-columns: 200px 1fr;
       gap: 10px 20px;
       align-items: center;
   }

   .doctor-label1 {
       font-weight: bold;
       color: #555;
   }

   .doctor-value1 {
       padding: 8px 12px;
       background: #f9f9f9;
       border-radius: 8px;
       border: 1px solid #eee;
       color: black;
   }
   .doctor-value1 a {
       display: inline-block;
       padding: 6px 12px;
       background: #e6f7f8;
      
       /* color: #086972; */
       
       font-weight: 600;
       text-decoration: none;
       border-radius: 6px;
       border: 1px solid #b3e6e8;
       
       transition: all 0.2s ease;
   }

   .doctor-value1 a:hover {
       background: #F0F8F8;
       color: #086972;
       border-color: #F0F8F8;
   }
   .record{
    color: black;
   }




   